.user {
  font-size: 16px;
  &-top {
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    @include themify($themes) {
      border-bottom: 2px solid themed('card-border');
    }
    .user-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .user-area {
      height: 120px;
      @extend %column_center;
    }
    .user-name {
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
  }
  &-bottom {
    .user-info-list {
      font-size: 14px;
      line-height: 25px;
      width: 100%;
      @include themify($themes) {
        color: themed('card-font');
      }
      @extend %space_between;
    }
  }
}
