.user {
  font-size: 16px;
  &-top {
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--card-border);
    .user-img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .user-area {
      height: 120px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      flex-direction:column
    }
    .user-name {
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      text-align: center;
    }
  }
  &-bottom {
    .user-info-list {
      font-size: 14px;
      line-height: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: var(--card-font);
    }
  }
}
