.container {
  margin: 8px;
  @include themify($themes) {
    background-color: themed("drag-background");
    border: 1px solid themed("card-border");
  }
  border-radius: 2px;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 8px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.taskList {
  padding: 8px;
  transition: background-color 0.2s ease;
  flex-grow: 1;
  min-height: 500px;
}

.container_task {
  border: 1px solid;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
  @include themify($themes) {
    background: themed("card-background");
  }
  &:hover {
    @include themify($themes) {
      border: 1px solid themed("card-active-border");
    }
  }
}

.content {
  display: flex;
}
