body {
  min-width: 1150px;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  height: calc(100vh - 70px);
}

article {
  width: 100%;
  overflow: auto;
  height: inherit;
  background-color: var(--background-main);
}

section {
  padding: 10px;
}

/* antd UI修改 */

.ant-back-top {
  right: 20px;
}

.ant-card {
  background-color: var(--card-background);
  color: var(--card-font);
  border: 1px solid var(--card-border);
}

.ant-card-body {
  font-size: 16px;
}

.ant-progress-text {
  color: var(--card-font);
}

.ant-card-head-title {
  color: var(--card-font);
}

.ant-table-thead > tr > th {
  background-color: var(--card-background) !important;
  color: var(--card-font) !important;
  font-size: 16px;
}

.ant-table table {
  background-color: var(--card-background);
  color: var(--card-font);
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background-color: var(--background-main);
}
